.DS_Store

libraries/*

# node-gyp gitignore
build

# electron-rebuild gitignore
bin

# electron-builder gitignore
dist

### Electron gitignore
# Directories
bower_components
node_modules

# Files
*.tgz
*.log
