* {
  margin: 0;
  padding: 0;
}
.imageContainer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 420px;
  height: 420px;
}
.image {
  max-height: 100%;
  max-width: 100%;
}
