* {
  margin: 0;
  padding: 0;
}
.imageContainer {
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  width: 200px;
  height: 200px;
}
.image {
  max-height: 100%;
  max-width: 100%;
}
.images {
  line-height: 0;
}
